<div class="container py-5 my-4">
  <div class="row justify-content-center">
    <div class="rounded justify-content-center d-flex">
      <div class="row bg-white p-5 shadow new_list">
        <div class="col-7">
          <h2 class="text-center fw-bold my-5">Create a new movie list</h2>
          <%= simple_form_for @list do |f| %>
            <div class="form-inputs">
              <%= f.input :name, placeholder: "List name", label: false %>
              <%= f.input :photo, as: :file, label: false %>
            </div>
            <div class="form-actions text-center">
              <%= f.button :submit, "Create", class:"btn btn-flat mt-5 w-25"%>
            </div>
          <% end %>
        </div>
        <div class="col-5 h-100 d-flex align-items-center">
          <%= image_tag "movie.svg", class: "w-100" %>
        </div>
      </div>
    </div>
  </div>
</div>
