<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<ul>
  <% @movies.each do |movie| %>
      <h1><%= movie.title %></h1>
      <%= movie.overview %>
    </li>
  <% end %>
</ul>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.comment %> |
      <%= link_to 'Delete bookmark', bookmark_path(bookmark), method: :delete, data: {confirm: 'Are you sure?'} %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', lists_path %> |

<%= link_to 'Add a Bookmark', new_list_bookmark_path(@list) %> |
