<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key, crop: :fill %>)">
  <div class="container">
    <h1><%= @list.name %> movies</h1>
    <%= link_to "#{@list.movies.count} #{@list.movies.count > 1 ? 'movies' : 'movie'}", "", class: "btn btn-warning" %>
  </div>
</div>

<div class="container mt-4 text-end">
  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-flat" %>
</div>

<div class="container my-3 px-5">
  <div class="cards mb-5">
    <% @list.movies.each do |movie| %>
      <div class="card-movie">
        <%= image_tag movie.poster_url %>
        <div class="card-movie-infos">
          <div>
            <h2><%= movie.title %> <span class="rating">• <%= movie.rating %> <i class="fas fa-star"></i></span></h2>
            <p><%= movie.overview %></p>
          </div>
          <div class="d-flex justify-content-between w-100">
            <div class="mt-3 comment"><i class="fas fa-quote-left me-2"></i><%= movie.bookmarks.last.comment %></div>
            <h2 class="mt-3">
              <%= link_to "delete", bookmark_path(@list), class: "alert-link", method: :delete, data: { confirm: "Are you sure?" }%>
            </h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Back to lists", lists_path, class: 'btn btn-ghost' %>
</div>
